
body {
    margin: 0px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.unclickable {
    pointer-events: none;
    filter: blur(2px) grayscale(90%);
}

h1 {
    font-family: 'Sacramento', cursive;
}

#creature-hud p {
    display: inline;
}

#creature-hud {
    background-color: rgba(248, 217, 41, 0.973);
    height: 33px;
    text-align: center;
    font-family: 'Allerta', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#heart-pic {
    height: 3vh;
    position: relative;
    top:.5vh;
}

#money-pic {
    height: 3vh;
    position: relative;
    top: .5vh;

}


