
body{
    margin: 0px;
}

.hidden{
    display: none;
}

.unclickable{
    pointer-events: none;
    filter: blur(2px) grayscale(90%);
}

h1 {
    font-family: 'Sacramento', cursive;
}

button {

}

#creature-hud p {
    display: inline;
}

#creature-hud {
    background-color: aqua;
    height: 30\px;
    text-align: center;
}

