
body{
    margin: 0px;
    background-image: './assets/background.png';
}

.hidden{
    display: none;
}

.unclickable{
    pointer-events: none;
    background-color: grey;
}

#hats img {
    width: 200px;
}

button {

}

#creature-hud p {
    display: inline;

}

#creature-hud {
    background-color: aqua;
    height: 30\px;
    text-align: center;
}

