html {
    background: url(/assets/depression-screen.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#column-one {
    height: 100vh;
}

#column-two {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

h1{
    font-size: 2em;
}

#column-three {
    height: 100vh;
}

#creature-image{
    position:relative;
    right: 8vw;
    bottom: 1vh;
    width: 20vw;
}

#wound {
    position: relative;
    left:2vw;
    bottom: 13vh;
    width: 9vw;
    z-index: 2;
}