html {
    background: url(/assets/map-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#screen {
    display: flex;
    flex-direction: column;
}

#top-row {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

#moon {
    width: 13.5vw;
    position: relative;
    top: 3vh;
    left: 4vw;
    transition: .10s;
}

#moon:hover {
    transition: .10s;
    transform: rotate(20deg);

}

#bird {
    width: 4.5vw;
    position: relative;
    top: 14.5vh;
    left: 6vw;
}

#stars {
    width: 23vw;
    position: relative;
    top: 8vh;
    left: 24vw;
}

#bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.building-relative-play {
    position: relative;
    top: 20vh;
}
.building-relative-play{
    position: relative;
    top: 20vh;
}
.building-relative-store {
    position: relative;
    top: 20vh;
}
.building-relative-house {
    position: relative;
    top: 20vh;
}
.building-relative-party {
    position: relative;
    top: 20vh;
}

.middle-building {
    width: 15vw;
}

.building {
    width: 15vw;
}

#play:hover {
    content: url('../assets/play-on.png');
}
#store:hover {
    content: url('../assets/store-on.png');
}
#house:hover {
    content: url('../assets/house-on.png');
}
#party:hover {
    content: url('../assets/party-on.png');
}

#creature-image {
    width: 16vw;
    z-index: 1;
}

#your-hat {
    width: 11vw;
    position: relative;
    left: 2.5vw;
    top: 9vh;
    z-index: 2;
}

#creature-with-hat {
    position: absolute;
    bottom: 30vh;
    left: 40vw;
}

.unclickable-building {
    pointer-events: none;
}


