html {
    background: url(/assets/map-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#screen{
    display: flex;
    flex-direction: column;
}

#top-row{
    display: flex;
    flex-direction: row;
    height: 50vh;
}

#moon{
    width: 13.5vw;
    position: relative;
    top: 3vh;
    left: 4vw;
}

#bird{
    width: 4.5vw;
    position: relative;
    top: 14.5vh;
    left: 6vw;
}

#stars{
    width: 23vw;
    position: relative;
    top: 8vh;
    left: 24vw;
}

#bottom-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.building-relative-play {
    position: relative;
    top: 20vh;
}
.building-relative-play{
    position: relative;
    top: 20vh;
}
.building-relative-store {
    position: relative;
    top: 20vh;
}
.building-relative-house {
    position: relative;
    top: 20vh;
}
.building-relative-party {
    position: relative;
    top: 20vh;
}

.middle-building{
    width: 15vw;
}

.building{
    width: 15vw;
}

#creature-with-hat {
    position: relative;
    top: vh;
}

#play:hover{
    content: url('../assets/play-on.png');
}
#store:hover{
    content: url('../assets/store-on.png');
}
#house:hover{
    content: url('../assets/house-on.png');
}
#party:hover{
    content: url('../assets/party-on.png');
}

#hat {
    z-index: 2;
    position: relative;
    top:5vh
}

#creature {
    z-index: 1;
    position:relative;
    bottom: 4vh;
}

#creature-image {
    width: 16vw;
}

#your-hat {
    width: 11vw;
    position: relative;
    left: 2.5vw;
    bottom: 2vh;
}

