html {
    background: url(/assets/party-background-no-pinata.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    
}

h2 {
    text-align: center;
    margin-top: 40px;
}

#pinata {
    width: 23vw;
    position: relative;
    bottom: 11.2vh;
    left: 4vw;
    transition: .20s;
}

.pinata-click {
    transition: .20s;
    content: url(../assets/pinata-click.png);
}


#creatures {
    display: flex;
    justify-content: space-around;
}

#creature-with-hat {
    width: 33vw;
}

#your-hat {
    z-index: 2;
    position: absolute;
    top: 50vh;
    left: 21vw;
    height: 13vh;
}

#creature-image {
    position: absolute;
    z-index: 1;
    top: 56vh;
    left: 18vw;
}


#other-creature-div {
    position: absolute;
    top: 50vh;
    left: 70vw;
}

#back-home {
    text-decoration: none;
}

#link {
    position: absolute;
    bottom: 5vh;
}

