html {
    background: url(/assets/background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.card {

}

.blue {
    background-color: lightblue;
}

.red {
    background-color: pink;
}

#shark-row {
    display:flex;
    flex-direction: right;
    justify-content: space-around;
}

#shark-image{
    width: 15vw;
    height: 15vw;
}

#center-row {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#game-result{
    width: 30vw;
}

#your-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

#creature-with-hat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#your-hat{
    z-index: 2;
    margin-bottom: -9.5vh;
    height: 20vh;
}

#creature-image {
    z-index: 1;
    height: 20vh;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* #creature-image {
    width: 25vh;
}

#your-hat {
    width: 15vh;
} */

